table{
    font-size: 20px;
    margin-left: 35vw;
    margin-top: 40vh;
    color: #66b3ff	    ;
    background-color: #e6f2ff;
}


h1{
    color:red;
    padding-top: 50px;
    text-align: center;
}
